<p id="notice"><%= notice %></p>

<h2>Your Pragmatic Cart</h2>

<ul>
	<% @cart.line_items.each do |line_item| %>
		<li><%= "#{line_item.product.title} - #{line_item.product.price}" %></li>
	<% end %>
</ul>

<ul>
	<p> Total: <%= number_to_currency(@cart.total) %> </p>
</ul>

<%= link_to 'Edit', edit_cart_path(@cart) %> |
<%= link_to 'Back', carts_path %>