<p id="notice"><%= notice %></p>

<h2>Your Pragmatic Cart</h2>

<div class="container">
  <%= render @cart.line_items %>
  <div class="col-xs-4 pull-right .border">
      <h3><strong>Total:</strong><%= number_to_currency(@cart.valor_total) %></h3>
  </div>
</div>
<ul>
</ul>
<div>
  <%= button_to('Empty Cart', @cart, method: :delete, class: 'bnt btn-danger', data: { confirm: 'Are you sure?' }) %>
  <%= link_to 'Edit', edit_cart_path(@cart) %> |
  <%= link_to 'Back', carts_path %>
</div>