<% if notice %>
  <div class="alert alert-success">
    <p><strong><%= notice %></strong></p>
    <span class="close glyphicon glyphicon-remove" data-dismiss="alert" aria-label="close"></span>
  </div>
<% end %>

<% if alert %>
  <div class="alert alert-danger">
    <p><strong><%= alert %></strong></p>
    <span class="close glyphicon glyphicon-remove" data-dismiss="alert" aria-label="close"></span>
  </div>
<% end %>

<div id="id-modal-cart" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="text-uppercase text-center text-default-inverse">Your <strong>Pragmatic Cart</strong></h4>
      </div>

      <div class="modal-body">

      </div>

      <div class="modal-footer">
        <div class="container-fluid">
          <div class="row row-eq-height">
            <div class="col col-lg-8">
              <p class="js-total-items-carrinho text-default-inverse pull-left"></p>
              <p class="js-valor-total-carrinho text-default-inverse"></p>
            </div>
              <%= button_tag('CHECKOUT', type: :button, class: 'btn btn-default pull-rigth col-lg-4',
                data: {dismiss: 'modal'}) %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div id="home-carousel-id" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators" data-target="#home-carousel-id">
    <% @products.size.times do |i| %>
      <li class="<%= 'active' if i==0 %>" data-target="#home-carousel-id"
        data-slide-to="<%= i %>">
      </li>
    <% end %>
  </ol>

  <div class="carousel-inner">
    <% @products.each_with_index do |product, i| %>
      <div class="item <%= 'active' if i==0 %>">
        <%= image_tag(product.image_url) %>
      </div>
    <% end %>
  </div>

  <%= content_tag :a, class: 'left carousel-control', href: '#home-carousel-id', role: 'button',
    data: { slide: 'prev' } do %>
    <%= content_tag :span, '', class: 'glyphicon glyphicon-chevron-left', aria: { hidden: true } %>
    <%= content_tag :span, 'Previous', class: 'sr-only' %>
  <% end %>

  <%= content_tag :a, class: 'right carousel-control', href: '#home-carousel-id', role: 'button',
    data: { slide: 'next' } do %>
    <%= content_tag :span, '', class: 'glyphicon glyphicon-chevron-right', aria: { hidden: true } %>
    <%= content_tag :span, 'Next', class: 'sr-only' %>
  <% end %>

  <div class="sobrepoem-carousel">
  </div>
</div>

<div class="clearifix"></div>

<div class="produtos">
<% cache ['store', Product.latest] do %>
    <div class="container-fluid">
      <div class="row">
        <%# 3.times do %>
          <% @products.each do |product| %>
            <div class="col col-lg-2 col-lg-2 col-sm-6 col-xs-16">
              <% cache ['entry', product] do %>
                <%= link_to(product) do %>
                  <%= image_tag(product.image_url) %>
                <% end %>

                <%= link_to(product) do %>
                  <h3><%= product.title %></h3>
                <% end %>
                <span class="label label-primary"><%= number_to_currency(product.price) %></span>

                <%= button_to(line_items_path(product_id: product.id),
                class: 'btn btn-lg btn-default',
                remote: true,
                data: {toggle: 'modal', target: '#id-modal-cart'}) do %>
                 ADD TO CART
                 <%= content_tag :span, '', class: 'glyphicon glyphicon-shopping-cart' %>
                <% end %>
              <% end %>
            </div>
          <% end %>
        <%# end %>
      </div>
    </div>
<% end %>
</div>

<script type="text/javascript">
  $(document).ready( function(){
    var div = $(".produtos .col");
    var width = div.width();

    div.css('height', width * 1.618);
  });
</script>