<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>

<div id="id-modal-cart" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="text-uppercase text-center text-default-inverse">Your <strong>Pragmatic Cart</strong></h4>
      </div>

      <div class="modal-body">

      </div>

      <div class="modal-footer">
        <div class="container-fluid">
          <div class="row row-eq-height">
            <div class="col col-lg-8">
              <p class="js-total-items-carrinho text-default-inverse pull-left"></p>
              <p class="js-valor-total-carrinho text-default-inverse"></p>
            </div>
              <%= button_tag('CHECKOUT', type: :button, class: 'btn btn-default pull-rigth col-lg-4',
                data: {dismiss: 'modal'}) %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<h1>Your Pragmatic Catalog</h1>

<% cache ['store', Product.latest] do %>
    <div class="container-fluid">
      <div class="row">
        <% @products.each do |product| %>
          <div class="col col-lg-3 col-md-6 col-sm-12">
            <% cache ['entry', product] do %>
              <div>
                <%= image_tag(product.image_url) %>

                <h3><%= product.title %></h3>

                <%= sanitize(product.description) %>

                <div>
                  <span class="label label-primary"><%= number_to_currency(product.price) %></span>
                    <%= button_to(line_items_path(product_id: product.id),
                    class: 'btn btn-default',
                    remote: true,
                    data: {toggle: 'modal', target: '#id-modal-cart'}) do %>
                     ADD TO CART
                     <%= content_tag :span, '', class: 'glyphicon glyphicon-shopping-cart' %>
                    <% end %>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
<% end %>